.text-box{
  border: 1.5px solid #ccc;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;
}

.text-box:focus-visible{
  border: 1.5px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.add-btn {
  border-radius: 5px;
  padding: 6px 12px;
  height: 34px;
  color: white;
  background-color: #007bff; 
  border: 2px solid #007bff;
  cursor: pointer;
}

.add-btn:focus {
  outline: none;
}
